<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}デフォルトタイトル{% endblock %}</title>

  {% load static %}

  <!-- Bootstrap CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'js/jquery.slim.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  {% block extra_head %}
  {% endblock %}

</head>


<body>
  <header>
    <nav>
      {% block header_links %}
      {% endblock %}
    </nav>
  </header>

  <main>
    {% block content %}
    <!-- 子テンプレートでオーバーライドされる部分 -->
    {% endblock %}
  </main>

  <footer>
    <!-- フッターの内容 -->
  </footer>


</body>

</html>