<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}デフォルトタイトル{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}
</head>

<body>
  <header>
    <nav>
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">Logout</a>
      <!-- ログイン時のみ表示するリンク -->
      {% else %}
      {% block header_links %}
      <a href="{% url 'RealEstate360:register' %}">Register</a>
      <a href="{% url 'RealEstate360:login' %}">Login</a>
      {% endblock %}
      {% endif %}
      <!-- 他のナビゲーションリンク -->
    </nav>
  </header>

  <main>
    {% block content %}
    <!-- 子テンプレートでオーバーライドされる部分 -->
    {% endblock %}
  </main>

  <footer>
    <!-- フッターの内容 -->
  </footer>
</body>

</html>