<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}デフォルトタイトル{% endblock %}</title>

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  {% block extra_head %}
  {% endblock %}
  <script language="javascript" type="text/javascript">
    function OnButtonClick() {
      target = document.getElementById("output");
      target.innerHTML = "Penguin";
    }
  </script>
</head>

<body>
  <header>
    <nav>
      {% block header_links %}
      {% endblock %}
    </nav>
  </header>

  <input type="button" value="Exec" onclick="OnButtonClick();" /><br />
  <br />
  <div id="output"></div>

  <main>
    <div class="alert alert-primary" role="alert">Primary alert</div>
    <div class="alert alert-secondary" role="alert">Secondary alert</div>
    <div class="alert alert-success" role="alert">Success alert</div>
    <div class="alert alert-danger" role="alert">Danger alert</div>
    <div class="alert alert-warning" role="alert">Warning alert;</div>
    <div class="alert alert-info" role="alert">Info alert</div>
    <div class="alert alert-light" role="alert">Light alert</div>
    <div class="alert alert-dark" role="alert">Dark alert</div>
    {% block content %}
    <!-- 子テンプレートでオーバーライドされる部分 -->
    {% endblock %}
  </main>

  <footer>
    <!-- フッターの内容 -->
  </footer>

  <!-- jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSS_GFpoO/++P7eUVT0s9XczyFpVG-0U1Nm7Yw/6d6/7f+ILQbu2"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz4fnFO9gybBud7bkgUbeOfK7/rU1lGfG7E8iCud4VfQKX9f2D5G5E5Sy5"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMm9prM0g"
    crossorigin="anonymous"></script>
</body>

</html>