{% extends 'base.html' %}

{% block title %}Create{% endblock %}

{% block header_links %}
<!-- Add Bootstrap navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'RealEstate360:logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'RealEstate360:propertyinfos_list' %}">View</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<h1>物件情報の登録</h1>
<form method="post">
  {% csrf_token %}
  {{ basic_information_form.as_p }}
  {{ city_planning_form.as_p }}
  {{ building_information_form.as_p }}
  {{ land_information_form.as_p }}
  {{ infrastructure_information_form.as_p }}
  <button type="submit">登録</button>
</form>
{% endblock %}