{% extends 'base.html' %}

{% block title %}Create{% endblock %}

{% block header_links %}
<a href="{% url 'logout' %}">Logout</a>
<a href="{% url 'RealEstate360:view_propertyinfos' %}">View</a>
{% endblock %}

{% block content %}
<h1>物件情報の登録</h1>
<form method="post">
  {% csrf_token %}
  {{ basic_information_form.as_p }}
  {{ city_planning_form.as_p }}
  {{ building_information_form.as_p }}
  {{ land_information_form.as_p }}
  {{ infrastructure_information_form.as_p }}
  <button type="submit">登録</button>
</form>
{% endblock %}