{% extends 'base.html' %}

{% block title %}
    <title>新規登録</title>
{% endblock %}

{% block header_links %}
<!-- Add Bootstrap navigation bar -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'RealEstate360:logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'RealEstate360:propertyinfos_list' %}">View</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
{% endblock %}

{% block content %}
<h3>新規登録</h3>
<form method="post">
  {% csrf_token %}

  <div class="mb-3">
    <label for="{{ basic_information_form.control_number.id_for_label }}" class="p-6 mb-2 bg-primary text-white">
      {{ basic_information_form.control_number.label }}
    </label>
    {{ basic_information_form.control_number }}
  </div>

  <div class="mb-3">
    <label for="{{ basic_information_form.property_name.id_for_label }}" class="p-6 mb-2 bg-secondary text-white">
      {{ basic_information_form.property_name.label }}
    </label>
    {{ basic_information_form.property_name }}
  </div>

  <div class="mb-3">
    <label for="{{ basic_information_form.location.id_for_label }}" class="p-6 mb-2 bg-success text-white">
      {{ basic_information_form.location.label }}
    </label>
    {{ basic_information_form.location }}
  </div>

  <div class="mb-3">
    <label for="{{ basic_information_form.address.id_for_label }}" class="p-6 mb-2 bg-danger text-white">
      {{ basic_information_form.address.label }}
    </label>
    {{ basic_information_form.address }}
  </div>

  {{ city_planning_form.as_p }}
  {{ building_information_form.as_p }}
  {{ land_information_form.as_p }}
  {{ infrastructure_information_form.as_p }}
  <button type="submit">登録</button>
</form>
{% endblock %}