{% extends 'base.html' %}
{% block head %}
<!-- CSS読み込みの記述 -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}" />
{% endblock %}
{% block title %}
<title>物件詳細</title>
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-10">
        <nav
            style="--bs-breadcrumb-divider: '>'"
            aria-label="breadcrumb"
            class="mt-3"
        >
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/propertyinfos_list">物件一覧</a>
                </li>
                <li
                    class="breadcrumb-item active text-primary"
                    aria-current="page"
                >
                    {{ basic_information_form.instance.property_name }}
                </li>
            </ol>
        </nav>
        <h2>{{ basic_information_form.instance.property_name }} の情報</h2>
        <h3 class="font-weight-bold text-left py-2 pl-4">基本情報</h3>
        <div
            class="d-flex justify-content-around py-2 mb-2 border-bottom border-bottom"
        >
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ basic_information_form.control_number.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{basic_information_form.control_number.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ basic_information_form.control_number.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{basic_information_form.control_number.value}}
                </label>
            </div>
        </div>
        <div
            class="d-flex justify-content-around py-2 mb-2 border-bottom border-bottom"
        >
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ basic_information_form.property_name.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{basic_information_form.property_name.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ basic_information_form.property_name.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{basic_information_form.property_name.value}}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ basic_information_form.location.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{basic_information_form.location.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ basic_information_form.location.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{basic_information_form.location.value}}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ basic_information_form.address.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{basic_information_form.address.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ basic_information_form.address.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{basic_information_form.address.value}}
                </label>
            </div>
        </div>

        <h3 class="font-weight-bold text-left py-2 pl-4 mt-5">都市計画</h3>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ city_planning_form.zoning.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{ city_planning_form.zoning.label }}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ city_planning_form.zoning.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{ city_planning_form.zoning.value }}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ city_planning_form.public_land_expansion_act.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{ city_planning_form.public_land_expansion_act.label }}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ city_planning_form.public_land_expansion_act.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{ city_planning_form.public_land_expansion_act.value }}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ city_planning_form.road_width.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{ city_planning_form.road_width.label }}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ city_planning_form.road_width.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{ city_planning_form.road_width.value }}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ city_planning_form.condition.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{ city_planning_form.condition.label }}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ city_planning_form.condition.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{ city_planning_form.condition.value }}
                </label>
            </div>
        </div>

        <h3 class="font-weight-bold text-left py-2 pl-4 mt-5">土地</h3>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ land_information_form.area.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{land_information_form.area.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ land_information_form.area.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{land_information_form.area.value}}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ land_information_form.square_meter.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{land_information_form.square_meter.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ land_information_form.square_meter.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{land_information_form.square_meter.value}}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ land_information_form.land_category.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{land_information_form.land_category.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ land_information_form.land_category.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{land_information_form.land_category.value}}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ land_information_form.certified_copy_of_land.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{land_information_form.certified_copy_of_land.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ land_information_form.certified_copy_of_land.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{land_information_form.certified_copy_of_land.value}}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ land_information_form.character_map.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{land_information_form.character_map.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ land_information_form.character_map.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{land_information_form.character_map.value}}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ land_information_form.survey_map.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{land_information_form.survey_map.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ land_information_form.survey_map.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{land_information_form.survey_map.value}}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ land_information_form.type_of_rights.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{land_information_form.type_of_rights.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ land_information_form.type_of_rights.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{land_information_form.type_of_rights.value}}
                </label>
            </div>
        </div>

        <h3 class="font-weight-bold text-left py-2 pl-4 mt-5">建物</h3>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ building_information_form.certified_copy_of_building.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{building_information_form.certified_copy_of_building.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ building_information_form.certified_copy_of_building.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{building_information_form.certified_copy_of_building.value}}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ building_information_form.building_drawing.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{ building_information_form.building_drawing.label }}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ building_information_form.building_drawing.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{ building_information_form.building_drawing.value }}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ building_information_form.building_confirmation_screen.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{building_information_form.building_confirmation_screen.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ building_information_form.building_confirmation_screen.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{building_information_form.building_confirmation_screen.value}}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ building_information_form.property_tax_assessment_certificate.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{building_information_form.property_tax_assessment_certificate.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ building_information_form.property_tax_assessment_certificate.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{building_information_form.property_tax_assessment_certificate.value}}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ building_information_form.building_use.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{ building_information_form.building_use.label }}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ building_information_form.building_use.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{ building_information_form.building_use.value }}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ building_information_form.type_of_rights.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{ building_information_form.type_of_rights.label }}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ building_information_form.type_of_rights.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{ building_information_form.type_of_rights.value }}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ building_information_form.relationship_to_land_owner.id_for_label }}"
                    class="p-6 mb-2 bg-light text-black"
                >
                    {{building_information_form.relationship_to_land_owner.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ building_information_form.relationship_to_land_owner.id_for_label }}"
                    class="p-6 mb-2 bg-light text-black"
                >
                    {{building_information_form.relationship_to_land_owner.value}}
                </label>
            </div>
        </div>

        <h3 class="font-weight-bold text-left py-2 pl-4 mt-5">インフラ</h3>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ infrastructure_information_form.water_supply.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{infrastructure_information_form.water_supply.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ infrastructure_information_form.water_supply.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{infrastructure_information_form.water_supply.value}}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ infrastructure_information_form.sweage.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{infrastructure_information_form.sweage.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ infrastructure_information_form.sweage.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{infrastructure_information_form.sweage.value}}
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-around py-2 mb-2 border-bottom">
            <div class="col-6 col-md-4 text-left">
                <label
                    for="{{ infrastructure_information_form.solar_power_generation.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{infrastructure_information_form.solar_power_generation.label}}
                </label>
            </div>
            <div class="col-6 col-md-6 text-left">
                <label
                    for="{{ infrastructure_information_form.solar_power_generation.id_for_label }}"
                    class="p-6 mb-2"
                >
                    {{infrastructure_information_form.solar_power_generation.value}}
                </label>
            </div>
        </div>

        <div id="button-area" class="row align-items-center">
            <div class="col col-12 col-md-3 col-lg-5 col-xl-5"></div>
            <div class="col col-12 col-md-4 col-lg-3 col-xl-2 text-center">
                <a
                    class="btn btn-edit btn-primary text-white mb-3"
                    href="{% url 'RealEstate360:propertyinfo_edit' basic_information_form.instance.basic_information_id %}"
                >
                    編集する
                </a>
            </div>
            <div class="col col-12 col-md-2 col-lg-1 col-xl-3"></div>
            <div class="col col-12 col-md-2 col-lg-3 col-xl-2 text-center">
                <form
                    method="POST"
                    action="{% url 'RealEstate360:propertyinfo_inactive' basic_information_form.instance.basic_information_id %}"
                >
                    {% csrf_token %}
                    <!-- <img src="{% static 'img/icon _delete_.svg' %}" alt="" width="30" height="30" class="delete-icon__img"> -->
                    <input type="hidden" name="is_active" value="false" />
                    <input
                        type="submit"
                        class="btn-delete mb-3"
                        value="この物件を削除する"
                        onclick="return confirm('本当に削除してもよろしいですか？')"
                    />
                </form>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}
