{% extends 'base.html' %}

{% block title %}Detail{% endblock %}

{% block header_links %}
<!-- Add Bootstrap navigation bar -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'RealEstate360:logout' %}">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'RealEstate360:propertyinfos_list' %}">View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'RealEstate360:propertyinfo_create' %}">Create</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
{% endblock %}

{% block content %}
<h2>{{ basic_information_form.instance.property_name }} の情報</h2>
<h3>基本情報</h3>

<div class="mb-3">
  <label for="{{ basic_information_form.control_number.id_for_label }}" class="p-6 mb-2 bg-primary text-white">
    {{basic_information_form.control_number.label}}
  </label>
  <label for="{{ basic_information_form.control_number.id_for_label }}" class="p-6 mb-2 bg-primary text-white">
    {{basic_information_form.control_number.value}}
  </label>
</div>

<div class="mb-3">
  <label for="{{ basic_information_form.property_name.id_for_label }}" class="p-6 mb-2 bg-secondary text-white">
    {{basic_information_form.property_name.label}}
  </label>
  <label for="{{ basic_information_form.property_name.id_for_label }}" class="p-6 mb-2 bg-secondary text-white">
    {{basic_information_form.property_name.value}}
  </label>
</div>

<div class="mb-3">
  <label for="{{ basic_information_form.location.id_for_label }}" class="p-6 mb-2 bg-success text-white">
    {{basic_information_form.location.label}}
  </label>
  <label for="{{ basic_information_form.location.id_for_label }}" class="p-6 mb-2 bg-success text-white">
    {{basic_information_form.location.value}}
  </label>
</div>

<div class="mb-3">
  <label for="{{ basic_information_form.address.id_for_label }}" class="p-6 mb-2 bg-danger text-white">
    {{basic_information_form.address.label}}
  </label>
  <label for="{{ basic_information_form.address.id_for_label }}" class="p-6 mb-2 bg-danger text-white">
    {{basic_information_form.address.value}}
  </label>
</div>

<div class="mb-3">
  <label for="{{ city_planning_form.zoning.id_for_label }}" class="p-6 mb-2 bg-primary text-white">
    {{ city_planning_form.zoning.label }}
  </label>
  <label for="{{ city_planning_form.zoning.id_for_label }}" class="p-6 mb-2 bg-primary text-white">
    {{ city_planning_form.zoning.value }}
  </label>
</div>

<div class="mb-3">
  <label for="{{ city_planning_form.public_land_expansion_act.id_for_label }}" class="p-6 mb-2 bg-secondary text-white">
    {{ city_planning_form.public_land_expansion_act.label }}
  </label>
  <label for="{{ city_planning_form.public_land_expansion_act.id_for_label }}" class="p-6 mb-2 bg-secondary text-white">
    {{ city_planning_form.public_land_expansion_act.value }}
  </label>
</div>

<div class="mb-3">
  <label for="{{ city_planning_form.road_width.id_for_label }}" class="p-6 mb-2 bg-success text-white">
    {{ city_planning_form.road_width.label }}
  </label>
  <label for="{{ city_planning_form.road_width.id_for_label }}" class="p-6 mb-2 bg-success text-white">
    {{ city_planning_form.road_width.value }}
  </label>
</div>

<div class="mb-3">
  <label for="{{ city_planning_form.condition.id_for_label }}" class="p-6 mb-2 bg-danger text-white">
    {{ city_planning_form.condition.label }}
  </label>
  <label for="{{ city_planning_form.condition.id_for_label }}" class="p-6 mb-2 bg-danger text-white">
    {{ city_planning_form.condition.value }}
  </label>
</div>

<div class="mb-3">
  <label for="{{ building_information_form.certified_copy_of_building.id_for_label }}"
    class="p-6 mb-2 bg-primary text-white">
    {{ building_information_form.certified_copy_of_building.label }}
  </label>
  <label for="{{ building_information_form.certified_copy_of_building.id_for_label }}"
    class="p-6 mb-2 bg-primary text-white">
    {{ building_information_form.certified_copy_of_building.value }}
  </label>
</div>

<div class="mb-3">
  <label for="{{ building_information_form.building_drawing.id_for_label }}" class="p-6 mb-2 bg-secondary text-white">
    {{ building_information_form.building_drawing.label }}
  </label>
  <label for="{{ building_information_form.building_drawing.id_for_label }}" class="p-6 mb-2 bg-secondary text-white">
    {{ building_information_form.building_drawing.value }}
  </label>
</div>

<div class="mb-3">
  <label for="{{ building_information_form.building_confirmation_screen.id_for_label }}"
    class="p-6 mb-2 bg-success text-white">
    {{ building_information_form.building_confirmation_screen.label }}
  </label>
  <label for="{{ building_information_form.building_confirmation_screen.id_for_label }}"
    class="p-6 mb-2 bg-success text-white">
    {{ building_information_form.building_confirmation_screen.value }}
  </label>
</div>

<div class="mb-3">
  <label for="{{ building_information_form.property_tax_assessment_certificate.id_for_label }}"
    class="p-6 mb-2 bg-danger text-white">
    {{ building_information_form.property_tax_assessment_certificate.label }}
  </label>
  <label for="{{ building_information_form.property_tax_assessment_certificate.id_for_label }}"
    class="p-6 mb-2 bg-danger text-white">
    {{ building_information_form.property_tax_assessment_certificate.value }}
  </label>
</div>

<div class="mb-3">
  <label for="{{ building_information_form.building_use.id_for_label }}" class="p-6 mb-2 bg-warning text-white">
    {{ building_information_form.building_use.label }}
  </label>
  <label for="{{ building_information_form.building_use.id_for_label }}" class="p-6 mb-2 bg-warning text-white">
    {{ building_information_form.building_use.value }}
  </label>
</div>

<div class="mb-3">
  <label for="{{ building_information_form.type_of_rights.id_for_label }}" class="p-6 mb-2 bg-info text-white">
    {{ building_information_form.type_of_rights.label }}
  </label>
  <label for="{{ building_information_form.type_of_rights.id_for_label }}" class="p-6 mb-2 bg-info text-white">
    {{ building_information_form.type_of_rights.value }}
  </label>
</div>

<div class="mb-3">
  <label for="{{ building_information_form.relationship_to_land_owner.id_for_label }}"
    class="p-6 mb-2 bg-light text-black">
    {{ building_information_form.relationship_to_land_owner.label }}
  </label>
  <label for="{{ building_information_form.relationship_to_land_owner.id_for_label }}"
    class="p-6 mb-2 bg-light text-black">
    {{ building_information_form.relationship_to_land_owner.value }}
  </label>
</div>

<div class="mb-3">
  <label for="{{ land_information_form.area.id_for_label }}" class="p-6 mb-2 bg-primary text-white">
    {{land_information_form.area.label}}
  </label>
  <label for="{{ land_information_form.area.id_for_label }}" class="p-6 mb-2 bg-primary text-white">
    {{land_information_form.area.value}}
  </label>
</div>

<div class="mb-3">
  <label for="{{ land_information_form.square_meter.id_for_label }}" class="p-6 mb-2 bg-secondary text-white">
    {{land_information_form.square_meter.label}}
  </label>
  <label for="{{ land_information_form.square_meter.id_for_label }}" class="p-6 mb-2 bg-secondary text-white">
    {{land_information_form.square_meter.value}}
  </label>
</div>

<div class="mb-3">
  <label for="{{ land_information_form.land_category.id_for_label }}" class="p-6 mb-2 bg-success text-white">
    {{land_information_form.land_category.label}}
  </label>
  <label for="{{ land_information_form.land_category.id_for_label }}" class="p-6 mb-2 bg-success text-white">
    {{land_information_form.land_category.value}}
  </label>
</div>

<div class="mb-3">
  <label for="{{ land_information_form.certified_copy_of_land.id_for_label }}" class="p-6 mb-2 bg-danger text-white">
    {{land_information_form.certified_copy_of_land.label}}
  </label>
  <label for="{{ land_information_form.certified_copy_of_land.id_for_label }}" class="p-6 mb-2 bg-danger text-white">
    {{land_information_form.certified_copy_of_land.value}}
  </label>
</div>

<div class="mb-3">
  <label for="{{ land_information_form.character_map.id_for_label }}" class="p-6 mb-2 bg-warning text-white">
    {{land_information_form.character_map.label}}
  </label>
  <label for="{{ land_information_form.character_map.id_for_label }}" class="p-6 mb-2 bg-warning text-white">
    {{land_information_form.character_map.value}}
  </label>
</div>

<div class="mb-3">
  <label for="{{ land_information_form.survey_map.id_for_label }}" class="p-6 mb-2 bg-info text-white">
    {{land_information_form.survey_map.label}}
  </label>
  <label for="{{ land_information_form.survey_map.id_for_label }}" class="p-6 mb-2 bg-info text-white">
    {{land_information_form.survey_map.value}}
  </label>
</div>

<div class="mb-3">
  <label for="{{ land_information_form.type_of_rights.id_for_label }}" class="p-6 mb-2 bg-light text-black">
    {{land_information_form.type_of_rights.label}}
  </label>
  <label for="{{ land_information_form.type_of_rights.id_for_label }}" class="p-6 mb-2 bg-light text-black">
    {{land_information_form.type_of_rights.value}}
  </label>
</div>

<div class="mb-3">
  <label for="{{ infrastructure_information_form.water_supply.id_for_label }}" class="p-6 mb-2 bg-primary text-white">
    {{infrastructure_information_form.water_supply.label}}
  </label>
  <label for="{{ infrastructure_information_form.water_supply.id_for_label }}" class="p-6 mb-2 bg-primary text-white">
    {{infrastructure_information_form.water_supply.value}}
  </label>
</div>

<div class="mb-3">
  <label for="{{ infrastructure_information_form.sweage.id_for_label }}" class="p-6 mb-2 bg-secondary text-white">
    {{infrastructure_information_form.sweage.label}}
  </label>
  <label for="{{ infrastructure_information_form.sweage.id_for_label }}" class="p-6 mb-2 bg-secondary text-white">
    {{infrastructure_information_form.sweage.value}}
  </label>
</div>

<div class="mb-3">
  <label for="{{ infrastructure_information_form.solar_power_generation.id_for_label }}"
    class="p-6 mb-2 bg-success text-white">
    {{infrastructure_information_form.solar_power_generation.label}}
  </label>
  <label for="{{ infrastructure_information_form.solar_power_generation.id_for_label }}"
    class="p-6 mb-2 bg-success text-white">
    {{infrastructure_information_form.solar_power_generation.value}}
  </label>
</div>

<a href="{% url 'RealEstate360:propertyinfo_edit' basic_information_form.instance.basic_information_id %}">編集する</a>

<!-- 削除フォームの追加 -->
<form method="POST"
  action="{% url 'RealEstate360:propertyinfo_inactive' basic_information_form.instance.basic_information_id %}">
  {% csrf_token %}
  <input type="hidden" name="is_active" value="false">
  <input type="submit" value="削除する" onclick="return confirm('本当に削除してもよろしいですか？')">
</form>

{% endblock %}