{% extends 'base.html' %}

{% block head %}
<!-- CSS読み込みの記述 -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
{% endblock %}

{% block title %}
    <title>登録情報編集</title>
{% endblock %}

{% block content %}

<!-- ページタイトル -->
<div class="page__title container-lg container-md container-sm">
    <div class="row page-name">
        <div class="col"><h2>登録情報編集</h2></div>
    </div>
</div>


<!-- 入力フォームここから -->

<form method="post">
    {% csrf_token %}

<!-- 基本情報 -->
    <div class="container-lg container-md container-sm input-container">
        <div class="row d-flex input-form gx-sm-0">
            <div class="col col-12 col-md-12 col-lg-2 input-form__title-basic">
                <h3>基本情報</h3>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-10 ms-auto">                

                <!-- 1行目 -->
                <div class="row d-flex">

                    <!-- 物件名/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ basic_information_form.property_name.id_for_label }}" class="">
                            {{ basic_information_form.property_name.label }}
                        </label>
                        {{ basic_information_form.property_name }}
                    </div>
                    
                    <!-- 管理番号/ -->
                    <!-- ControlNumber_x で自動採番されます。 -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ basic_information_form.control_number.id_for_label }}" class="">
                            {{ basic_information_form.control_number.label }}
                        </label>
                            {{ basic_information_form.control_number }}
                    </div>
                </div>

                <!-- 2行目 -->
                <!-- 都道府県選択 -->
                <div class="row d-flex mt-lg-3">
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="">都道府県</label>
                        <select id="geoapi-prefectures" name="geoapi-prefectures" class="select-address">
                            <option value="都道府県を選択してください">
                                都道府県を選択してください
                            </option>
                        </select>
                    </div>
                    <div class="col col-3 col-md-3 col-lg-3 d-flex input-form__area"></div>
                </div>

                <!-- 3行目 -->
                <!-- 市区町村名選択 -->
                <div class="row d-flex mt-lg-3">
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="">市町村</label>
                        <select id="geoapi-cities" name="geoapi-cities" class="select-address">
                            <option value="市区町村名を選択してください">
                                市区町村名を選択してください
                            </option>
                        </select>
                    </div>
                    <div class="col col-3 col-md-3 col-lg-3 d-flex input-form__area"></div>
                </div>

                <!-- 4行目 -->
                <!-- 町域選択 -->
                <div class="row d-flex mt-lg-3">
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="">町域</label>
                        <select id="geoapi-towns" name="geoapi-towns" class="select-address">
                            <option value="町域を選択してください">
                                町域を選択してください
                            </option>
                        </select>
                    </div>
                    <div class="col col-3 col-md-3 col-lg-3 d-flex input-form__area"></div>
                </div>

                <!-- 5行目 -->
                <div class="row d-flex mt-lg-3">
                    <!-- 所在地/ -->
                    <div class="col col-12 input-form__area">
                        <label for="{{ basic_information_form.location.id_for_label }}" class="">
                            {{ basic_information_form.location.label }}
                        </label>
                        {{ basic_information_form.location }}
                    </div>
                </div>

                <!-- 6行目 -->
                <div class="row d-flex mt-lg-3">
                    <!-- 住所地/ -->
                    <div class="col col-12 input-form__area">
                        <label for="{{ basic_information_form.address.id_for_label }}" class="">
                            {{ basic_information_form.address.label }}
                        </label>
                        {{ basic_information_form.address }}
                    </div>
                </div>
            </div>
            <!-- 区切り線 -->
            <div class="cotainer-border"></div>
        </div>
    </div>

<!-- 都市計画 -->
    <div class="container-lg container-md container-sm input-container">
        <div class="row d-flex input-form gx-sm-0">
            <div class="col col-12 col-md-12 col-lg-2 input-form__title">
                <h3>都市計画</h3>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-10 ms-auto">

                <!-- 1行目 -->
                <div class="row d-flex">

                    <!-- 用途地域/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ city_planning_form.zoning.id_for_label }}" class="">
                            {{ city_planning_form.zoning.label }}
                        </label>
                        {{ city_planning_form.zoning }}
                    </div>

                    <!-- 道路幅/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ city_planning_form.road_width.id_for_label }}" class="">
                            {{ city_planning_form.road_width.label }}
                        </label>
                        {{ city_planning_form.road_width }}
                    </div>
                </div>

                <!-- 2行目 -->
                <div class="row d-flex mt-lg-3">

                    <!-- 公用地拡大法/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ city_planning_form.public_land_expansion_act.id_for_label }}" class="">
                            {{ city_planning_form.public_land_expansion_act.label }}
                        </label>
                        {{ city_planning_form.public_land_expansion_act }}
                    </div>

                    <!-- 状態/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ city_planning_form.condition.id_for_label }}" class="">
                            {{ city_planning_form.condition.label }}
                        </label>
                        {{ city_planning_form.condition }}
                    </div>
                </div>
            </div>
            <!-- 区切り線 -->
            <div class="cotainer-border"></div>
        </div>
    </div>

<!-- 土地入力欄 -->
    <div class="container-lg container-md container-sm input-container">
        <div class="row d-flex input-form gx-sm-0">
            <div class="col col-12 col-md-12 col-lg-2 input-form__title--land">
                <h3>土地</h3>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-10 ms-auto">

                <!-- 1行目 -->
                <div class="row d-flex">

                    <!-- 地目/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ land_information_form.land_category.id_for_label }}" class="">
                            {{ land_information_form.land_category.label }}
                        </label>
                        {{ land_information_form.land_category }}
                    </div>

                    <!-- 土地坪数/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ land_information_form.square_meter.id_for_label }}" class="">
                            {{ land_information_form.square_meter.label }}
                        </label>
                        {{ land_information_form.square_meter }}
                    </div>
                </div>

                <!-- 2行目 -->
                <div class="row d-flex mt-lg-3">

                    <!-- 測量図/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ land_information_form.survey_map.id_for_label }}" class="">
                            {{ land_information_form.survey_map.label }}
                        </label>
                        {{ land_information_form.survey_map }}
                    </div>
                    
                    <!-- 面積/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ land_information_form.area.id_for_label }}" class="">
                            {{ land_information_form.area.label }}
                        </label>
                        {{ land_information_form.area }}
                    </div>
                </div>

                <!-- 3行目 -->
                <!-- 権利の種類/ -->
                <div class="row d-flex mt-lg-4">
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ land_information_form.type_of_rights.id_for_label }}" class="">
                            {{ land_information_form.type_of_rights.label }}
                        </label>
                        {{ land_information_form.type_of_rights }}
                    </div>
                    <div class="col col-3 col-md-3 col-lg-3 d-flex input-form__area">
                        <!-- <label for="" class="label-damy">　　</label>
                        <button type="button" class="pic-upload-btn btn-secondary"></button> -->
                    </div>
                </div>
                
                <!-- 4行目 -->
                <div class="row d-flex mt-lg-3">

                    <!-- 字図/ -->
                    <div class="col col-9 col-md-9 col-lg-9 d-flex input-form__area">
                        <label for="{{ land_information_form.character_map.id_for_label }}" class="">
                            {{ land_information_form.character_map.label }}
                        </label>
                        {{ land_information_form.character_map }}
                    </div>
                    <!-- 画像選択ボタン -->
                    <div class="col col-3 col-md-3 col-lg-3 d-flex input-form__area">
                        <label for="" class="label-damy">　　</label>
                        <button type="button" class="pic-upload-btn btn-secondary">
                            <p>画像選択</p>
                            <img src="{% static 'img/mobile-camera-logo.svg' %}" alt=""  width="30" height="24.55" class="camera-img">
                        </button>
                    </div>
                </div>

                <!-- 5行目 -->
                <div class="row d-flex mt-lg-4">
                    <!-- 土地謄本/ -->
                    <div class="col col-9 col-md-9 col-lg-9 d-flex input-form__area">
                        <label for="{{ land_information_form.certified_copy_of_land.id_for_label }}" class="">
                            {{ land_information_form.certified_copy_of_land.label }}
                        </label>
                        {{ land_information_form.certified_copy_of_land }}
                    </div>

                    <!-- 画像選択ボタン -->
                    <div class="col col-3 col-md-3 col-lg-3 d-flex input-form__area">
                        <label for="" class="label-damy">　　</label>
                        <button type="button" class="pic-upload-btn btn-secondary">
                            <p>画像選択</p>
                            <img src="{% static 'img/mobile-camera-logo.svg' %}" alt=""  width="30" height="24.55" class="camera-img">
                        </button>
                    </div>
                </div>
            </div>
            <!-- 区切り線 -->
            <div class="cotainer-border"></div>
        </div>
    </div>

<!-- 建物入力欄 -->
    <div class="container-lg container-md container-sm input-container">
        <div class="row d-flex input-form gx-sm-0">
            <div class="col col-12 col-md-12 col-lg-2 input-form__title--building">
                <h3>建物</h3>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-10 ms-auto">

                <!-- 1行目 -->
                <div class="row d-flex">

                    <!-- 物件用途/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ building_information_form.building_use.id_for_label }}" class="">
                            {{ building_information_form.building_use.label }}
                        </label>
                        {{ building_information_form.building_use }}
                    </div>

                    <!-- 建築確認図面/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ building_information_form.building_confirmation_screen.id_for_label }}" class="">
                            {{ building_information_form.building_confirmation_screen.label }}
                        </label>
                        {{ building_information_form.building_confirmation_screen }}
                    </div>
                </div>

                <!-- 2行目 -->
                <div class="row d-flex mt-lg-3">

                    <!-- 建物図面取得/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ building_information_form.building_drawing.id_for_label }}" class="">
                            {{ building_information_form.building_drawing.label }}
                        </label>
                        {{ building_information_form.building_drawing }}
                    </div>

                    <!-- 固定資産税評価証明書/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ building_information_form.property_tax_assessment_certificate.id_for_label }}" class="">
                            {{ building_information_form.property_tax_assessment_certificate.label }}
                        </label>
                        {{ building_information_form.property_tax_assessment_certificate }}
                    </div>
                </div>

                <!-- 3行目 -->
                <div class="row d-flex mt-lg-4">

                    <!-- 権利の種類/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ building_information_form.type_of_rights.id_for_label }}" class="">
                            {{ building_information_form.type_of_rights.label }}
                        </label>
                        {{ building_information_form.type_of_rights }}
                    </div>

                    <!-- 土地所有者との関係/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ building_information_form.relationship_to_land_owner.id_for_label }}" class="">
                            {{ building_information_form.relationship_to_land_owner.label }}
                        </label>
                        {{ building_information_form.relationship_to_land_owner }}
                    </div>
                </div>
                
                <!-- 4行目 -->
                <div class="row d-flex mt-lg-3">

                    <!-- 建物謄本/  -->
                    <div class="col col-9 col-md-9 col-lg-9 d-flex input-form__area">
                        <label for="{{ building_information_form.certified_copy_of_building.id_for_label }}" class="">
                            {{ building_information_form.certified_copy_of_building.label }}
                        </label>
                        {{ building_information_form.certified_copy_of_building }}
                    </div>

                    <!-- 画像選択ボタン -->
                    <div class="col col-3 col-md-3 col-lg-3 d-flex input-form__area">
                        <label for="" class="label-damy">　　</label>
                        <button type="button" class="pic-upload-btn btn-secondary">
                            <p>画像選択</p>
                            <img src="{% static 'img/mobile-camera-logo.svg' %}" alt=""  width="30" height="24.55" class="camera-img">
                        </button>
                    </div>
                </div>
            </div>
            <!-- 区切り線 -->
            <div class="cotainer-border"></div>
        </div>
    </div>

<!-- インフラ入力欄 -->
    <div class="container-lg container-md container-sm input-container">
        <div class="row d-flex input-form gx-sm-0">
            <div class="col col-12 col-md-12 col-lg-2 input-form__title">
                <h3>インフラ</h3>
            </div>
            
            <div class="col col-12 col-sm-12 col-md-12 col-lg-10 ms-auto">
                <!-- 1行目 -->
                <div class="row d-flex">

                    <!-- 上水/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ infrastructure_information_form.water_supply.id_for_label }}" class="">
                            {{ infrastructure_information_form.water_supply.label }}
                        </label>
                        {{ infrastructure_information_form.water_supply }}
                    </div>

                    <!-- 下水/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ infrastructure_information_form.sweage.id_for_label }}" class="">
                            {{ infrastructure_information_form.sweage.label }}
                        </label>
                        {{ infrastructure_information_form.sweage }}
                    </div>
                </div>
                
                <!-- 2行目 -->
                <div class="row d-flex mt-lg-3">

                    <!-- 太陽光発電/ -->
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                        <label for="{{ infrastructure_information_form.solar_power_generation.id_for_label }}" class="">
                            {{ infrastructure_information_form.solar_power_generation.label }}
                        </label>
                        {{ infrastructure_information_form.solar_power_generation }}
                    </div>
                    <div class="col col-12 col-md-12 col-lg-6 d-flex input-form__area">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-lg container-md container-sm input-container">
        <div class="row d-flex">
            <div class="col"></div>
            <div class="col col-12 col-md-4 col-lg-3 col-xl-2">
                <button type="submit" class="registration-btn btn-edit-cancel">
                    <a href="{% url 'RealEstate360:propertyinfo_detail' basic_information_form.instance.basic_information_id %}">キャンセル</a>
                </button>
            </div>
            <div class="col col-12 col-md-4 col-lg-3 col-xl-2">
                <button type="submit" class="update-btn btn-primary">更新する</button>
            </div>
            <div class="col"></div>
        </div>
    </div>
</form>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://geoapi.heartrails.com/api/geoapi.js"></script>
<script>

document.getElementById('geoapi-prefectures').addEventListener('change', function (e) {
    const idLocation = document.getElementById('id_location');
    idLocation.value = ""
});

document.getElementById('geoapi-cities').addEventListener('change', function (e) {
    const idLocation = document.getElementById('id_location');
    idLocation.value = ""
});

document.getElementById('geoapi-towns').addEventListener('change', function (e) {
    const idLocation = document.getElementById('id_location');
    const citiesSelect = document.getElementById('geoapi-cities');
    var encodedCity = encodeURIComponent(citiesSelect.value);
    var selectedTown = e.target.value;

fetch('http://geoapi.heartrails.com/api/json?method=getTowns&city=' + encodedCity)
    .then(response => response.json())
    .then(data => {
        let json_obj = data.response.location.find(obj => obj.town === selectedTown);
        if (json_obj) {
            idLocation.value = `${json_obj.postal} ${json_obj.prefecture}${json_obj.city}${json_obj.town}`;
            /* console.log(json_obj); */
        }
    });
});
</script>
{% endblock %}